{% extends 'base.html' %}


{% block content %}

{% include 'fragments/navbar.html' %}
<div class="container">
    
    {% for row in rows %}
    <div class="row">
        <div class="card movie-card">
            <div class="card-header">
              Film no {{ row.film_id }} - {{ row.title }}
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{ row.description }}</p>
                <p><b>Release Year : </b> {{ row.release_year }}</p>
                <p><b>Language : </b> {{ row.language }}</p>
                <p><b>Rating: </b> {{ row.rating }}</p>
                <p><b>Special Features : </b> {{ row.special_features }}</p>
                <footer><b>Rental Cost</b> {{ row.rental_rate}} for {{ row.rental_duration}} days </footer>
              </blockquote>
            </div>
          </div>
    </div>
   
        
    {% endfor %}
  
        
</div>
    
{% endblock content %}
    



